  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :content %><br />
    <%= form.text_field :content %>
  </p>
  <p>
    <%= form.label :global %><br />
    <%= form.check_box :global %>
  </p>

