  <%= table_row_tag true, false, { id: "question-#{question.id}" } do %>
    <td><%= question.name %></td>
    <td><%= question.content? ? question.content[0..100] : '' %></td>
    <td><%= Question::DISPOSITIONS.key( question.disposition ) %></td>
    <td><%= question.global? ? 'Yes' : 'No' %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to( 'Edit', edit_question_path(question) ) if permitted_to? :edit, question %></td>
    <td><%= link_to( 'Destroy', question, data: { confirm: 'Are you sure?' }, method: :delete ) if permitted_to? :destroy, question %></td>
  <% end %>

