<%=content_tag( :h1, ( "Questions" + ( context ? " for #{context}" : "" ) ) ) %>
<%= form_for q, url: request.fullpath, method: :get do |form| %>
<p>
  <%= form.label :name_cont, 'Name' %>
  <%= form.text_field :name_cont %>
  <br/>
  <%= form.label :content_cont, 'Content' %>
  <%= form.text_field :content_cont %>
  <br/>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= paginate questions %>

<%= render partial: "questions/questions", object: questions %>

<%= paginate questions %>


<hr />

<p>
<% if permitted_to? :create, :questions %>
<%= link_to 'New question', new_question_path %>
<% end %>
</p>

