<div id="question-<%= question.id %>">
<p>
  <b>Name:</b> <%=h question.name %>
</p>

<p>
  <b>Disposition:</b> <%= Question::DISPOSITIONS.key( question.disposition ) %>
</p>

<p>
  <b>Content:</b>
</p>

<%=markdown question.content %>

<p>
  <b>Global?</b> <%= question.global? ? 'Yes' : 'No' %>
</p>

</div> <!-- #question-<%= question.id %> -->

