<h1>Listing quizzes</h1>

<table>
<thead>
  <tr>
    <th>Name</th>
  </tr>
</thead>
<tbody>
<% @quizzes.each do |quiz| %>
  <tr>
    <td><%=h quiz.name %></td>
    <td><%= link_to 'Show', quiz %></td>
    <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
    <td><%= link_to 'Destroy', quiz, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<p>
<%= link_to 'New quiz', new_quiz_path %>
</p>

