<div id="quiz-<%= @quiz.id %>">
<p>
  <b>Name:</b> <%=h @quiz.name %>
</p>
</div> <!-- #quiz-<%= @quiz.id %> -->


<p>
<% if permitted_to? :edit, @quiz -%>
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<% end -%>
<%= link_to 'Back', quizzes_path %>
</p>

