<h1><%=h params[:action].titleize %> motions for <%= committee ? committee : "" %><%= user ? user : "" %></h1>

<p>
<%= paginate motions %>
</p>

<%= render partial: "motions/motions", object: motions,
  locals: { :committee => committee ? committee : false, :position => user ? true : false } %>

<p>
<%= paginate motions %>
</p>

<hr />

<p>
<% if committee && permitted_to?( :create, committee.motions.build ) %>
<%= link_to 'New motion', new_committee_motion_path( committee ) %>
<% end %>
<% if user %>
<%= link_to user.to_s, user_path( user ) %>
<% end %>
</p>

