<% if candidate.is_a? MembershipRequest %>
<li><%=link_to candidate.user.name(:net_id), candidate, target: '_blank' %>
interested in <%= candidate.committee %> until <%= candidate.ends_at %></li>
<% else %>
<li><%=link_to candidate.user.name(:net_id), candidate, target: '_blank' %>
interested in renewal from <%= candidate.position %> until <%= candidate.renew_until %></li>
<% end %>

