<p>
  <b>User:</b> <%=h membership.user %>
</p>

<p>
  <b>Period:</b> <%=h membership.period %>
</p>

<p>
  <b>Position:</b> <%=h membership.position %>
</p>

<p>
  <b>Starts at:</b> <%=h membership.starts_at.to_s(:rfc822) %>
</p>

<p>
  <b>Ends at:</b> <%=h membership.ends_at.to_s(:rfc822) %>
</p>

