  <p>
    <%= form.label :user %><br />
    <%= form.text_field :user %>
  </p>
  <p>
    <%= form.label :term %><br />
    <%= form.text_field :term %>
  </p>
  <p>
    <%= form.label :position %><br />
    <%= form.text_field :position %>
  </p>
  <p>
    <%= form.label :request %><br />
    <%= form.text_field :request %>
  </p>
  <p>
    <%= form.label :starts_at %><br />
    <%= form.date_select :starts_at %>
  </p>
  <p>
    <%= form.label :ends_at %><br />
    <%= form.date_select :ends_at %>
  </p>

