  <tr>
    <td><%=h membership.user %></td>
    <td><%=h membership.period %></td>
    <td><%=h membership.starts_at.to_s :rfc822 %></td>
    <td><%=h membership.ends_at.to_s :rfc822 %></td>
    <td><%= link_to 'Show', membership %></td>
    <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
    <td><%= link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

