<h2>Editing membership for <%=h membership.position %></h2>

<%= simple_form_for(membership) do |f| %>
  <%= render partial: 'form', object: f %>
<% end %>

<div id="renewal_candidates">
<h3>Renewal candidates</h3>

<%= render partial: 'candidates', object: membership.renewed_memberships.candidates.renewal_undeclined %>
</div>

<div id="new_candidates">
<h3>Other applicants</h3>

<%= render partial: 'candidates', object: membership.membership_requests.interested %>
</div>

<div id="declined_renewal_candidates">
<h3>Declined renewal candidates</h3>

<%= render partial: 'candidates', object: membership.renewed_memberships.candidates.renewal_declined %>
</div>

