<h2>Editing membership for <%=h @membership.position %></h2>

<%= semantic_form_for(@membership) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @membership %> |
<%= link_to 'Back', position_memberships_path(@membership.position) %>
</p>

