<h2><%=h params[:action].titleize %> memberships<%=h @committee ?  " for #{@committee}" : "" %><%=h @user ?  " for #{@user}" : "" %><%=h @position ?  " for #{@position}" : "" %><%=h @authority ?  " for #{@authority}" : "" %></h2>

<%= will_paginate @memberships %>

<%= render :partial => 'memberships', :object => @memberships,
  :locals => { :committee => @committee, :user => @user, :position => @position } %>

<%= will_paginate @memberships %>

<hr />

<p>
<% if @position %>
<%= link_to 'New membership', new_position_membership_path(@position) %>
<% end %>
</p>

