<h1>Listing memberships</h1>

<%= will_paginate @memberships %>

<% if @committee %>
<%= render :partial => "memberships", :object => @memberships, :locals => { :committee => @committee } %>
<% else %>
<%= render :partial => "memberships", :object => @memberships %>
<% end %>

<%= will_paginate @memberships %>

<br />

<p>
<% if @position %>
<%= link_to 'New membership', new_position_membership_path(@position) %>
<% end %>
</p>

