<h2><%=h params[:action].titleize %> memberships<%=h( if @committee
" for #{@committee}"
elsif @user
" for #{@user}"
elseif @position
" for #{@position}"
end ) %></h2>

<%= will_paginate @memberships %>

<% if @committee %>
<%= render :partial => "memberships", :object => @memberships, :locals => { :committee => @committee } %>
<% else %>
<%= render :partial => "memberships", :object => @memberships %>
<% end %>

<%= will_paginate @memberships %>

<hr />

<p>
<% if @position %>
<%= link_to 'New membership', new_position_membership_path(@position) %>
<% end %>
</p>

