<%= form_for @user, :url => renew_user_memberships_path(@user) do |form| %>
<table>
<thead>
  <tr>
    <th>Position</th>
    <th>Ends on</th>
    <th>Renew until</th>
  </tr>
</thead>
<tbody>
  <%= form.fields_for :memberships, @user.memberships.unrenewed.uniq do |subform| %>

    <%= table_row_tag do %>
      <td><%= subform.label :renew_until, subform.object.position.to_s %></td>
      <td><%= subform.object.ends_at.to_formatted_s :rfc822 %></td>
      <td><%= subform.text_field :renew_until, :value => subform.object.renew_until.try( :to_formatted_s, :rfc822 ), :class => 'ui-date-picker' %></td>
    <% end %>

    <% if subform.object.errors.any? %>
      <%= table_row_tag( false ) do %>
        <td colspan="3"><span style="font-color: #FF0000;"><%= subform.object.errors.full_messages.join ', ' %></style></td>
      <% end %>
    <% end %>

  <% end %>
</tbody>
</table>

<p>
  <%= form.label :renewal_checkpoint, 'Notify again?' %>
  <%= form.select :renewal_checkpoint,
        [ [ 'Yes', form.object.renewal_checkpoint.try(:to_s, :db) ],
          [ 'No', Time.zone.now.to_s( :db )] ] %><br/>
  Yes means you want to continue receiving notices about these renewal preferences.
  No means you will not receive additional notices regarding these preferences.
</p>

<p>
<%= form.submit 'Update renewals' %>
</p>
<% end %>

