<p>
  <b>User:</b> <%=h @membership.user %>
</p>

<p>
  <b>Period:</b> <%=h @membership.period %>
</p>

<p>
  <b>Position:</b> <%=h @membership.position %>
</p>

<p>
  <b>Starts at:</b> <%=h @membership.starts_at.to_s(:rfc822) %>
</p>

<p>
  <b>Ends at:</b> <%=h @membership.ends_at.to_s(:rfc822) %>
</p>

<% if @membership.join_notice_sent_at? %>
<p>
  <b>Join notice sent at:</b> <%=h @membership.join_notice_sent_at.to_formatted_s( :long_ordinal ) %>
</p>

<% end %>

<% if @membership.leave_notice_sent_at? %>
<p>
  <b>Leave notice sent at:</b> <%=h @membership.leave_notice_sent_at.to_formatted_s( :long_ordinal ) %>
</p>

<% end %>

<% @membership.designees.each do |designee| %>
<p>
  <b>Designee for <%=h designee.committee.name %>:</b> <%=h designee.user.name %>
</p>
<% end %>

<p>
<% if permitted_to? :edit, @membership -%>
<%= link_to 'Edit', edit_membership_path(@membership) %> |
<% end -%>
<%= link_to 'Back', position_memberships_path(@membership.position) %>
</p>

