<div id="membership-<%= membership.id %>">
<%=render partial: 'memberships/detail', locals: { membership: membership } %>

<% if membership.membership_request %>
<p>
  <b>MembershipRequest:</b> <%=link_to 'Yes', membership.membership_request %>
</p>
<% end %>

<% if membership.declined_at? %>
<p>
  <b>Renewal declined at: </b> <%= membership.declined_at.to_formatted_s( :long_ordinal ) %>
</p>

<p>
  <b>Renewal declined by: </b> <%= membership.declined_by_user.name(:net_id) %>
</p>

<p>
  <b>Renewal declined comment:</b>
</p>

<%=markdown membership.decline_comment %>
<% end %>

<% if membership.renewed_by_membership %>
<p>
  <b>Renewed by membership:</b> <%=link_to membership.renewed_by_membership, membership.renewed_by_membership %>
</p>
<% end %>

<% if membership.renewed_memberships.any? %>
<p>
<b>Renewed memberships:</b>
</p>

<%=render partial: 'memberships', object: membership.renewed_memberships,
  locals: { user: membership.user } %>
<% end %>

<%=render partial: 'notices/notices', object: membership.notices,
  locals: { notifiable: membership } %>

<% membership.designees.each do |designee| %>
<p>
  <b>Designee for <%=h designee.committee.name %>:</b> <%=h designee.user.name(:net_id) %>
</p>
<% end %>
</div> <!-- #membership-<%= membership.id %> -->

