<p>
Dear <%=h @membership.user.first_name %>,
</p>

<p>
This notice is to inform you that your membership in <%=h @membership.description %>, which began on <%=h @membership.starts_at.to_formatted_s :long_ordinal %>, will not be renewed beyond the originally scheduled end date of <%= @membership.ends_at.to_formatted_s :long_ordinal %>.
</p>

<%=markdown @membership.decline_comment %>

<p>
Best regards,
</p>

<p>
<%=h @membership.position.authority.effective_contact_name %>
</p>

