<h1><%= params[:action].titleize %> meetings for <%= committee ? committee : "" %></h1>

<%= form_for q, url: request.fullpath, method: :get do |form| %>
  <% if committee %>
  <p>
    <%= form.label :period_id_eq, 'Period' %>
    <%= form.select :period_id_eq,
      committee.schedule.periods.map { |p| [ p.to_s, p.id ] } %>
  </p>
  <% end %>
  <p>
    <%= form.label :starts_at_gt, 'Starts After' %>
    <%= form.text_field :starts_at_gt %>
  </p>
  <p>
    <%= form.label :ends_at_lt, 'Ends Before' %>
    <%= form.text_field :ends_at_lt %>
  </p>
  <p>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<p>
<%= paginate meetings %>
</p>

<%= render partial: "meetings/meetings", object: meetings,
  locals: { committee: ( committee ? committee : false ),
            position: ( user ? true : false ) } %>

<p>
<%= paginate meetings %>
</p>

<hr />

<p>
<% if committee && permitted_to?( :create, committee.meetings.
  build( period_id: committee.periods.active ? committee.periods.active.id : nil ) ) %>
<%= link_to 'New meeting', new_committee_meeting_path( committee ) %>
<% end %>
</p>

