<h2><%= params[:action].titleize %> meetings for <%= @committee ? @committee : "" %></h2>

<%= paginate @meetings %>

<%= render :partial => "meetings", :object => @meetings,
  :locals => { :committee => @committee ? @committee : false, :position => @user ? true : false } %>

<%= paginate @meetings %>

<hr />

<p>
<% if @committee && permitted_to?( :create, @committee.meetings.build ) %>
<%= link_to 'New meeting', new_committee_meeting_path( @committee ) %>
<% end %>
</p>

