<h1><%= params[:action].titleize %> meetings for <%= committee ? committee : "" %></h1>

<%= form_for q, url: request.fullpath, method: :get do |form| %>
  <% if committee %>
  <p>
    <%= form.label :period_id_eq, 'Period' %>
    <%= form.select :period_id_eq,
      committee.schedule.periods.map { |p| [ p.to_s, p.id ] } %>
  </p>
  <% end %>
  <p>
    <%= form.label :starts_at_gt, 'Starts After' %>
    <%= form.text_field :starts_at_gt %>
  </p>
  <p>
    <%= submit_tag 'Search' %>
  </p>
<% end %>

<%= paginate meetings %>

<%= render partial: "meetings/meetings", object: meetings,
  locals: { committee: ( committee ? committee : false ) } %>

<%= paginate meetings %>

<hr />

<p>
<% if committee && permitted_to?( :create, meeting ) %>
<%= link_to 'New meeting', new_committee_meeting_path( committee ) %>
<% end %>
</p>

