<div id="meeting-<%= meeting.id %>">
<p>
  <b>Committee:</b> <%= meeting.committee %>
</p>

<p>
  <b>Period:</b> <%= meeting.period %>
</p>

<p>
  <b>Starts at:</b> <%= meeting.starts_at.to_formatted_s :us_ordinal %>
</p>

<p>
  <b>Ends at:</b> <%= meeting.ends_at.to_formatted_s :us_ordinal %>
</p>

<p>
  <b>Duration:</b> <%=pluralize meeting.duration, 'minute' %>
</p>

<p>
  <b>Location:</b> <%= meeting.location %>
</p>

<p>
  <b>Audio?</b> <%= meeting.audio.blank? ? 'No' : link_to( 'Yes', "#{root_path}#{meeting.audio.url}" )  %>
</p>

<%=content_tag :h3, 'Minutes' %>

<%=render partial: 'motions/motions', object: meeting.minute_motions,
  locals: { committee: meeting.committee, period: meeting.period } %>

<%=link_to( 'Add Minutes', new_meeting_motion_path(meeting) ) if permitted_to?( :clerk, meeting ) %>

<p>
  <b>Editable minutes?</b> <%= meeting.editable_minutes.blank? ? 'No' : link_to( 'Yes', "#{root_path}#{meeting.editable_minutes.url}" )  %>
</p>

<p>
  <b>Published minutes?</b> <%= meeting.published_minutes.blank? ? 'No' : link_to( 'Yes', "#{root_path}#{meeting.published_minutes.url}" )  %>
</p>

<%= render partial: 'meeting_sections/meeting_sections',
  object: meeting.meeting_sections, locals: { meeting: meeting } %>

<% if meeting.attachments.values.flatten.any? %>
<%= footnotes_for_meeting_attachments meeting %>
<% else %>
<p>No attachments.</p>
<% end %>

</div> <!-- #meeting-<%= meeting.id %> -->

<p>
<% if permitted_to? :edit, meeting -%>
<%= link_to 'Edit', edit_meeting_path(meeting) %> |
<% end -%>
<% if permitted_to? :publish, meeting -%>
<%= link_to 'Publish', publish_meeting_path(meeting) %> |
<% end -%>
<%= link_to 'Agenda', agenda_meeting_path(meeting, format: :pdf) %> |
<%= link_to "Back to #{meeting.committee}", committee_meetings_path(meeting.committee) %>
</p>

