<p>
  <b>Committee:</b> <%= @meeting.committee %>
</p>

<p>
  <b>Period:</b> <%= @meeting.period %>
</p>

<p>
  <b>Starts at:</b> <%= @meeting.starts_at.to_formatted_s :long_ordinal %>
</p>

<p>
  <b>Ends at:</b> <%= @meeting.ends_at.to_formatted_s :long_ordinal %>
</p>

<p>
  <b>Location:</b> <%= @meeting.location %>
</p>

<p>
  <b>Audio:</b> <%= @meeting.audio.file? ? link_to( 'Yes', @meeting.audio.url ) : 'No'  %>
</p>

<p>
  <b>Editable minutes:</b> <%= @meeting.editable_minutes.file? ? link_to( 'Yes', @meeting.editable_minutes.url ) : 'No'  %>
</p>

<p>
  <b>Published minutes:</b> <%= @meeting.published_minutes.file? ? link_to( 'Yes', @meeting.published_minutes.url ) : 'No'  %>
</p>

<p>
  <b>Motions:</b> <%= @meeting.motions.map(&:name).join(', ') %>
</p>

<p>
<% if permitted_to? :edit, @meeting -%>
<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<% end -%>
<%= link_to 'Motions', meeting_motions_path( @meeting ) %> |
<%= link_to "Back to #{@meeting.committee}", committee_meetings_path(@meeting.committee) %>
</p>

