  <%= render "shared/error_messages", :target => form.object %>
  <%= form.inputs do %>
  <%= form.input :name %>
  <%= form.input :authority %>
  <%= form.input :quiz %>
  <%= form.input :schedule %>
  <%= form.input :slots,
    hint: 'What is the maximum number of simultaneous memberships allowed for this position?' %>
  <%= form.input :minimum_slots,
    hint: 'What is the minimum number of simultaneous memberships allowed for this position?' %>
  <%= form.input :renewable, :as => :radio, :label => 'Renewable?',
    :hint => 'Should members receive renewal notices regarding this position?' %>
  <%= form.input :notifiable, :as => :radio, :label => 'Notifiable?',
    :hint => 'Should notices be sent when a membership is created/assigned and when it expires?' %>
  <%= form.input :designable, :as => :radio, :label => 'Designable?',
    :hint => 'Can designees be appointed for this position?' %>
  <%= form.input :active, :as => :radio, :label => 'Active?',
    :hint => 'Should unassigned memberships be generated automatically for this position?' %>
  <%= form.input :statuses, :as => :check_boxes, :collection => User::STATUSES,
    :hint => 'What status must a user have to be in this position?  Leave blank if status is not a factor.' %>
  <%= form.input :join_message %>
  <%= form.input :leave_message %>
  <%= form.input :reject_message %>
  <% end %>

  <%= form.inputs for: :enrollments, name: 'enrollment' do |subform| %>
    <%= render partial: 'enrollments/enrollment_fields', locals: { f: subform,
      position: form.object } %>
  <% end %>

  <div class='links'>
    <p>
      <%= link_to_add_association 'add enrollment', form, :enrollments,
        partial: 'enrollments/enrollment_fields',
        render_options: { locals: { position: form.object } } %>
    </p>
  </div>

  <%= form.actions %>

