<h1>Listing positions</h1>

<% semantic_form_for @search do |form| %>
<p>
  <%= form.label :name_like, 'Name' %>
  <%= form.text_field :name_like %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= will_paginate @positions %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Authority</th>
    <th>Quiz</th>
    <th>Schedule</th>
    <th>Requestable?</th>
    <th>Slots</th>
  </tr>
  </thead>

  <tbody>
  <%= render :partial => 'position', :collection => @positions %>
  </tbody>

</table>

<%= will_paginate @positions %>

<br />

<p>
<%= link_to 'New position', new_position_path %>
</p>

