<h2>Listing positions<%=h @committee ? " for #{@committee}" : "" %></h2>

<%= form_for @q, :url => membership_request.fullpath, :method => :get do |form| %>
<p>
  <%= form.label :name_cont, 'Name' %>
  <%= form.text_field :name_cont %>
  <%= form.submit "Search" %>
</p>
<% end %>

<p>
<%= paginate @positions %>
</p>

<%= render partial: "positions/positions", object: @positions %>
<p>
<%= paginate @positions %>
</p>

<hr />

<p>
<% if permitted_to? :create, :positions %>
<%= link_to 'New position', new_position_path %>
<% end %>
<% if @committee %>
 | <%= link_to @committee.to_s, @committee %>
<% end %>
</p>

