<h2>Listing positions<%=h @committee ? " for #{@committee}" : "" %></h2>

<%= form_for @search, :url => request.fullpath do |form| %>
<p>
  <%= form.label :name_contains, 'Name' %>
  <%= form.text_field :name_contains %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= will_paginate @positions %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Authority</th>
    <th>Quiz</th>
    <th>Schedule</th>
    <th>Requestable?</th>
    <th>Renewable?</th>
    <th>Slots</th>
  </tr>
  </thead>

  <tbody>
  <%= render :partial => 'position', :collection => @positions %>
  </tbody>

</table>

<%= will_paginate @positions %>

<hr />

<p>
<% if permitted_to? :create, :positions %>
<%= link_to 'New position', new_position_path %>
<% end %>
<% if @committee %>
 | <%= link_to @committee.to_s, @committee %>
<% end %>
</p>

