<p>
  <b>Name:</b> <%=h @position.name %>
</p>

<p>
  <b>Authority:</b> <%=h @position.authority %>
</p>

<p>
  <b>Quiz:</b> <%=h @position.quiz %>
</p>

<p>
  <b>Schedule:</b> <%=h @position.schedule %>
</p>

<p>
  <b>Slots:</b> <%=h @position.slots %>
</p>

<p><b>Join message:</b></p>

<%=markdown @position.join_message %>

<p><b>Leave message:</b></p>

<%=markdown @position.leave_message %>


<p>
<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'List Memberships', position_memberships_path(@position) %> |
<%= link_to 'List Requests', position_requests_path(@position) %> |
<%= link_to 'Back', positions_path %>
</p>

