<p>
  <b>Name:</b> <%=h @position.name %>
</p>

<p>
  <b>Authority:</b> <%=h @position.authority %>
</p>

<p>
  <b>Quiz:</b> <%=h @position.quiz %>
</p>

<p>
  <b>Schedule:</b> <%=h @position.schedule %>
</p>

<p><b>Requestable?</b> <%= @position.requestable? ? 'Yes' : 'No' %></p>

<p><b>Requestable by committee?</b> <%= @position.requestable_by_committee? ? 'Yes' : 'No' %></p>

<p><b>Notifiable?</b> <%= @position.notifiable? ? 'Yes' : 'No' %></p>

<p><b>Renewable?</b> <%= @position.renewable? ? 'Yes' : 'No' %></p>

<p><b>Designable?</b> <%= @position.designable? ? 'Yes' : 'No' %></p>

<p>
  <b>Slots:</b> <%=h @position.slots %>
</p>

<p>
  <b>Statuses:</b>
  <% if @position.statuses.empty? %>
  <i>No status restrictions.</i>
  <% else %>
  <ul>
    <% @position.statuses.each do |status| %>
    <li><%=h status %></li>
    <% end %>
  </ul>
  <% end %>
</p>

<p><b>Join message:</b></p>

<%=markdown @position.join_message %>

<p><b>Leave message:</b></p>

<%=markdown @position.leave_message %>

<p><b>Reject message:</b></p>

<%=markdown @position.reject_message %>

<p>
<% if permitted_to? :edit, @position -%>
<%= link_to 'Edit', edit_position_path(@position) %> |
<% end -%>
<%= link_to 'List Memberships', position_memberships_path(@position) %> |
<%= link_to 'List Requests', position_requests_path(@position) %> |
<%= link_to 'Back', positions_path %>
</p>

