<p style="text-align: center;">
AGENDA<br/>
<%= meeting.committee %><br/>
<%= meeting.starts_at.to_date.to_s :long_ordinal %><br/>
<%= meeting.to_s :time %><br/>
<%= meeting.location %>
</p>

<%= render partial: 'meeting_sections/meeting_sections', object: meeting.meeting_sections, locals: { absolute: true } %>

<% if meeting.attachments.values.flatten.any? %>
<%= footnotes_for_meeting_attachments( meeting, absolute: true ) %>
<% else %>
<p>No attachments.</p>
<% end %>

