<% if membership.renew_until? && membership.renew_until > Time.zone.today %>
<li>interested in renewing your membership in <%= membership.description %> <%= format_end_date membership %> until <%= membership.renew_until.to_s :long_ordinal %></li>
<% else %>
<li><em>not</em> interested in renewing your membership in <%= membership.description %> <%= format_end_date membership %></li>
<% end %>

