<p>
  <b>Committee:</b> <%= motion.committee %>
</p>

<p>
  <b>Period:</b> <%= motion.period %>
</p>

<p>
  <b>Position:</b> <%= motion.position %>
</p>

<p>
  <b>Name:</b> <%= motion.name %>
</p>

<p>
  <b>Comments allowed until:</b> <%= motion.comment_until? ? motion.comment_until.to_s( :us_long ) : 'No comment period.' %>
</p>

<p>
  <b>Description:</b>
</p>

<%=markdown motion.description %>

<p>
  <b>Content:</b>
</p>

<%=markdown motion.content %>

<%=render partial: 'motions/meeting_segment', collection: motion.motion_meeting_segments.ordered %>

<p><b>Sponsors:</b> <%= motion.users.map(&:name).listify %> </p>

<p>Attachments:</p>

<%= render partial: 'attachments/attachments', object: motion.attachments %>


<p>Comments:</p>

<%=render partial: 'motion_comments/motion_comments', object: motion.motion_comments %>

<% if permitted_to? :comment, motion %>
<%=content_tag :p, link_to( 'Add comment', new_motion_motion_comment_path( motion ) ) %>
<% end %>

