<% committee ||= false %>
<% period ||= false %>
  <%= table_row_tag(true, false, { id: "motion-#{motion.id}" }) do %>
    <% unless committee %>
    <td><%= motion.committee %></td>
    <% end %>
    <% unless period %>
    <td><%= motion.period %></td>
    <% end %>
    <td><%= motion.position %></td>
    <td class="name"><%= motion.name %></td>
    <td><%= motion.status %></td>
    <td><%= link_to 'Show', motion %></td>
    <td><%= link_to( 'Edit', edit_motion_path(motion) ) if permitted_to? :edit, motion %></td>
    <td><%= link_to( 'Destroy', motion, data: { confirm: 'Are you sure?' }, method: :delete ) if permitted_to? :destroy, motion %></td>
    <%=render partial: 'motions/event', collection: Motion::EVENTS,
      locals: { motion: motion } %>
  <% end %>

