<% committee ||= false %>
<% period ||= false %>
  <%= table_row_tag(true, false, { id: "motion-#{motion.id}" }) do %>
    <%=content_tag( :td, motion.committee ) unless committee %>
    <%=content_tag( :td, motion.period ) unless period%>
    <%=content_tag :td, motion.position %>
    <%=content_tag :td, motion.name, class: "name" %>
    <%=content_tag :td, motion.status %>
    <td><%= link_to 'Show', motion %></td>
    <td><%= link_to_watch_toggle( motion ) %></td>
    <td><%= link_to( 'Edit', edit_motion_path(motion) ) if permitted_to? :edit, motion %></td>
    <td><%= link_to( 'Destroy', motion, data: { confirm: 'Are you sure?' }, method: :delete ) if permitted_to? :destroy, motion %></td>
    <%=render partial: 'motions/event', collection: Motion::EVENTS,
      locals: { motion: motion } %>
  <% end %>

