<%= render partial: 'motions/detail', locals: { motion: @motion } %>

<p>
<% if permitted_to? :edit, @motion -%>
<%= link_to 'Edit', edit_motion_path(@motion) %> |
<% end -%>
<%= nested_index @motion, :users, %w( allowed ) %> |
<%= nested_index @motion, :meetings, %w( past current future ) %> |
<%= link_to "Back to #{@motion.committee}", committee_motions_path(@motion.committee) %>
</p>

