<p>
  <b>Committee:</b> <%=h @motion.committee %>
</p>

<p>
  <b>Period:</b> <%=h @motion.period %>
</p>

<p>
  <b>Position:</b> <%=h @motion.position %>
</p>

<p>
  <b>Name:</b> <%=h @motion.name %>
</p>

<p>
  <b>Description:</b>
</p>

<%=markdown @motion.description %>

<p>
<% if permitted_to? :edit, @motion -%>
<%= link_to 'Edit', edit_motion_path(@motion) %> |
<% end -%>
<%= nested_index @motion, :users, %w( allowed ) %> |
<%= nested_index @motion, :meetings, %w( past current future ) %> |
<%= link_to "Back to #{@motion.committee}", committee_motions_path(@motion.committee) %>
</p>

