<%=content_tag :h1, "Show #{motion.to_s :full}" %>

<%=content_tag :div, id: "motion-#{motion.id}" do %>
<%= render partial: 'motions/detail', locals: { motion: motion } %>
<% end %>

<%=content_tag :h2, "Events" %>

<%= render partial: 'motion_events/motion_events',
  object: motion.motion_events, locals: { motion: motion } %>
  
<%=content_tag :h2, "Prior motions superseded by this motion" %>

<%= render partial: 'motions/motions', object: motion.ancestors,
  locals: { id: 'ancestors' } %>

<%=content_tag :h2, "Later motions that supersede this motion" %>

<%= render partial: 'motions/motions', object: motion.descendants,
  locals: { id: 'descendants' } %>

<p>
<% if permitted_to? :edit, motion -%>
<%= link_to 'Edit', edit_motion_path(motion) %> |
<% end -%>
<%= link_to_watch_toggle( motion ) %> |
<%= nested_index motion, :users, %w( allowed ) %> |
<%= nested_index motion, :meetings, %w( past current future ) %> |
<%= link_to "Back to #{motion.committee}", committee_motions_path(motion.committee) %>
</p>

