<h1>Editing qualification</h1>

<% form_for(@qualification) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @qualification %> |
<%= link_to 'Back', qualifications_path %>
</p>

