  <p>
    <%= form.label :schedule %><br />
    <%= form.text_field :schedule %>
  </p>
  <p>
    <%= form.label :starts_at %><br />
    <%= form.date_select :starts_at %>
  </p>
  <p>
    <%= form.label :ends_at %><br />
    <%= form.date_select :ends_at %>
  </p>

