  <% table_row_tag do %>
    <td><%=h period.starts_at.to_s :rfc822 %></td>
    <td><%=h period.ends_at.to_s :rfc822 %></td>
    <% unless read_only %>
    <td><%= link_to 'Show', period %></td>
    <td><%= link_to 'Edit', edit_period_path(period) %></td>
    <td><%= link_to 'Destroy', period, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  <% end %>

