<h2>Editing period for <%=h @period.schedule %></h2>

<%= semantic_form_for(@period) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @period %> |
<%= link_to 'Back', schedule_periods_path(@period.schedule) %>
</p>

