<p>
  <b>Schedule:</b> <%=h @period.schedule %>
</p>

<p>
  <b>Starts at:</b> <%=h @period.starts_at.to_s :long %>
</p>

<p>
  <b>Ends at:</b> <%=h @period.ends_at.to_s :long %>
</p>

<p>
<% if permitted_to? :edit, @period -%>
<%= link_to 'Edit', edit_period_path(@period) %> |
<% end -%>
<%= link_to 'Back', schedule_periods_path(@period.schedule) %>
</p>

