  <p>
    <%= form.label :first_name %><br />
    <%= form.text_field :first_name %>
  </p>
  <p>
    <%= form.label :middle_name %><br />
    <%= form.text_field :middle_name %>
  </p>
  <p>
    <%= form.label :last_name %><br />
    <%= form.text_field :last_name %>
  </p>
  <p>
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :mobile_phone %><br />
    <%= form.text_field :mobile_phone %>
  </p>
  <p>
    <%= form.label :work_phone %><br />
    <%= form.text_field :work_phone %>
  </p>
  <p>
    <%= form.label :home_phone %><br />
    <%= form.text_field :home_phone %>
  </p>
  <p>
    <%= form.label :work_address %><br />
    <%= form.text_field :work_address %>
  </p>
  <p>
    <%= form.label :date_of_birth %><br />
    <%= form.date_select :date_of_birth %>
  </p>
  <p>
    <%= form.label :net_id %><br />
    <%= form.text_field :net_id %>
  </p>
  <p>
    <%= form.label :status %><br />
    <%= form.text_field :status %>
  </p>

