  <%= table_row_tag do %>
    <td><%=h user.name( :last_first ) %></td>
    <td><%=h user.net_id %></td>
    <td><%=h user.email %></td>
    <td><%=h user.mobile_phone %></td>
    <td><%=h user.work_phone %></td>
    <td><%=h user.home_phone %></td>
    <td><%=h user.work_address %></td>
    <td><%=h user.date_of_birth.to_formatted_s(:db) if user.date_of_birth %></td>
    <td><%= user.statuses.join ', ' %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to( 'Edit', edit_user_path(user) ) if permitted_to? :edit, user %></td>
    <td><%= link_to( 'Destroy', user, data: { confirm: 'Are you sure?' }, method: :delete ) if permitted_to? :destroy, user %></td>
  <% end %>

