  <%= table_row_tag true, false, { id: "user-#{user.id}" } do %>
    <%=content_tag :td, user.name( :last_first ) %>
    <%=content_tag :td, user.net_id %>
    <%=content_tag :td, user.email %>
    <%=content_tag :td, user.mobile_phone( :pretty ) %>
    <%=content_tag :td, user.work_phone( :pretty ) %>
    <%=content_tag :td, user.home_phone( :pretty ) %>
    <%=content_tag :td, user.work_address %>
    <%=content_tag :td, user.date_of_birth.try( :to_formatted_s, :db) %>
    <td><%= user.statuses.join ', ' %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to( 'Edit', edit_user_path(user) ) if permitted_to? :edit, user %></td>
    <td><%= link_to( 'Destroy', user, data: { confirm: 'Are you sure?' }, method: :delete ) if permitted_to? :destroy, user %></td>
  <% end %>

