<%=content_tag :h1, "Update users empl_ids" %>

<%= form_tag do_import_empl_id_users_path, method: :put, multipart: true do %>
<p>
You may specify users empl_ids in bulk as follows:
<pre>
abc1,1234567
</pre>
<br/>
<%= text_area_tag 'users' %>
</p>

<p>
You may also upload a file with such data.
<br/>
<%= file_field_tag 'users_file' %>
</p>

<br/>
<%= submit_tag 'Import empl_ids' %>
<% end %>

