<h2>Listing users</h2>

<%= form_for @q, url: request.fullpath, method: :get do |form| %>
<p>
  <%= form.label :name_cont, 'Name' %>
  <%= form.text_field :name_cont %>
  <%= form.submit "Search" %>
</p>
<% end %>

<p>
<%= paginate @users %>
</p>

<%= render partial: "users/users", object: @users %>

<p>
<%= paginate @users %>
</p>

<hr />

<p>
<% if permitted_to? :create, :users %>
<%= link_to 'New user', new_user_path %>
<% end %>
<% if permitted_to? :manage, :users %>
<%= link_to 'Import empl_ids', import_empl_id_users_path %>
<% end %>
</p>

