<h2>Welcome, <%= current_user.first_name %></h2>

<p>
<%= link_to 'Click here', edit_user_path( current_user ) %> to update your personal and contact information.  If you are not <%=h current_user.name %>, please close the web browser completely and log in using your own credentials.
</p>

<% if current_user.authorities.authorized(0).length > 0 -%>
<h3>Your Authorities</h3>

<p>
You may review membership_requests and update memberships for the following authorities:
</p>

<ul>
<% current_user.authorities.authorized(0).each do |authority| %>
<li>
<%= link_to h( authority ), authority %>
(<%= link_to 'renewable memberships', renewable_authority_memberships_path( authority ) %>)
(<%= link_to 'active membership_requests', active_authority_membership_requests_path( authority ) %>)
(<%= link_to 'rejected membership_requests', rejected_authority_membership_requests_path( authority ) %>)
(<%= link_to 'current memberships', current_authority_memberships_path( authority ) %>)
(<%= link_to 'future memberships', future_authority_memberships_path( authority ) %>)
</li>
<% end %>
</ul>

<% end -%>
<h3>Your Memberships</h3>

<p>
You have <%= link_to pluralize( current_user.memberships.current.length, 'current membership' ), current_user_memberships_path(current_user) %>, <%= link_to pluralize( current_user.memberships.past.size, 'past membership' ), past_user_memberships_path(current_user) %>, and <%= link_to pluralize( current_user.memberships.future.size, 'future membership' ), future_user_memberships_path(current_user) %>.
</p>

<% if current_user.memberships.where( :starts_at.lte => Time.zone.today ).count > 0 %>
<p>
You can specify your <%= link_to 'renewal preferences', renew_user_memberships_path( current_user ) %>.
</p>
<% end %>

<% if current_user.memberships.current.length > 0 %>
<h4>Current Memberships</h4>
<%= render :partial => 'memberships/memberships', :object => current_user.memberships.current, :locals => { :user => current_user } %>
<% end %>

<h4>Current Motions</h4>

<% if current_user.motions.current.in_process.length > 0 %>
<p>
You have the following motions in process:
</p>

<%= render :partial => 'motions/motions', :object => current_user.motions.current.in_process %>
<% else %>
<p>
You have no motions in process.
</p>
<% end %>

<% if Committee.with_permissions_to(:vote).length > 0 %>
<p>
You may start motions for the following committees:
</p>

<ul id="voting_committees">
<% Committee.with_permissions_to(:vote).uniq.each do |committee| %>
<li><%=link_to committee.name, new_committee_motion_path( committee ) %></li>
<% end %>
</ul>
<% else %>
<p>
You may not start motions for any committee at this time.
</p>
<% end %>

<div id="membership_requests">
<h3>Your MembershipRequests for Membership</h3>

<p>
You have <%= link_to pluralize( current_user.membership_requests.unexpired.length, 'current membership request' ), unexpired_user_membership_requests_path( current_user ) %> and <%= link_to pluralize( current_user.membership_requests.expired.size, 'expired membership request' ), expired_user_membership_requests_path( current_user ) %>.
</p>

<p>
You may browse <%= link_to pluralize( current_user.committees.requestable.count("committees.id", :distinct => true), 'committee' ), requestable_user_committees_path( current_user ) %> for which you are eligible to request membership.
</p>

<% if current_user.membership_requests.unexpired.length > 0 %>
<h4>Current MembershipRequests</h4>
<%= render :partial => 'membership_requests/membership_requests', :object => current_user.membership_requests.unexpired,
  :locals => { :user => current_user } %>
<% end %>
</div> <!-- #membership_requests -->

