<h2>Welcome, <%= current_user.first_name %></h2>

<p>
<%= link_to 'Click here', edit_user_path( current_user ) %> to update your personal and contact information.  If you are not <%=h current_user.name %>, please close the web browser completely and log in using your own credentials.
</p>

<h3>Your Memberships</h3>

<p>
You have <%= link_to pluralize( current_user.memberships.current.length, 'current membership' ), current_user_memberships_path(current_user) %>, <%= link_to pluralize( current_user.memberships.past.size, 'past membership' ), past_user_memberships_path(current_user) %>, and <%= link_to pluralize( current_user.memberships.future.size, 'future membership' ), future_user_memberships_path(current_user) %>.
</p>

<% if current_user.memberships.current.length > 0 %>
<h4>Current Memberships</h4>
<%= render :partial => 'memberships/memberships', :object => current_user.memberships.current, :locals => { :user => current_user } %>
<% end %>

<h3>Your Requests for Membership</h3>

<p>
You have <%= link_to pluralize( current_user.requests.unexpired.length, 'current request' ), unexpired_user_requests_path( current_user ) %> and <%= link_to pluralize( current_user.requests.expired.size, 'expired request' ), expired_user_requests_path( current_user ) %>.
</p>

<p>
You may browse <%= link_to pluralize( current_user.requestable_committees.count("committees.id", :distinct => true), 'committee' ), requestable_user_committees_path( current_user ) %> and <%= link_to pluralize( current_user.requestable_positions.size, 'position' ), requestable_user_positions_path( current_user ) %> for which you are eligible to request membership.
</p>

<% if current_user.requests.unexpired.length > 0 %>
<h4>Current Requests</h4>
<%= render :partial => 'requests/requests', :object => current_user.requests.unexpired,
  :locals => { :user => current_user } %>
<% end %>

