<p class="name front"><%= @user.name %></p>
<!--
<%= image_tag 'layout/tent/logo.svg', :class => 'logo front'%>
<%= image_tag 'layout/tent/logo.svg', :class => 'logo back'%>
-->
<%= image_tag 'http://localhost:3000/images/layout/tent/logo.svg', :class => 'logo front'%>
<%= image_tag 'http://localhost:3000/images/layout/tent/logo.svg', :class => 'logo back'%>
<p class="name back"><%= @user.name %></p>

