<% table_row_tag do %>
    <td><%=h notice.starts_at.to_s :rfc822 %></td>
    <td><%=h notice.ends_at.to_s :rfc822 %></td>
    <td><%=h notice.deadline.to_s :rfc822 %></td>
    <td><%=h notice.authority %></td>
    <td><%= notice.sendings.incomplete.count %></td>
    <td><%= notice.sendings.complete.count %></td>
    <td><%= link_to 'Show', notice %></td>
    <td><%= link_to 'Edit', edit_user_renewal_notice_path(notice) %></td>
    <td><%= link_to 'Destroy', notice, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>

