<%=content_tag :h1, "Schedules" %>

<%= form_for q, url: request.fullpath, method: :get do |form| %>
<p>
  <%= form.label :name_cont, 'Name' %>
  <%= form.text_field :name_cont %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= paginate schedules %>

<%= render partial: "schedules/schedules", object: schedules %>

<%= paginate schedules %>

<hr />

<p>
<% if permitted_to? :create, :schedules %>
<%= link_to 'New schedule', new_schedule_path %>
<% end %>
</p>

