<h2>Listing schedules</h2>

<%= form_for @q, url: request.fullpath, method: :get do |form| %>
<p>
  <%= form.label :name_cont, 'Name' %>
  <%= form.text_field :name_cont %>
  <%= form.submit "Search" %>
</p>
<% end %>

<p>
<%= paginate @schedules %>
</p>

<%= render partial: "schedules/schedules", object: @schedules %>

<p>
<%= paginate @schedules %>
</p>

<hr />

<p>
<% if permitted_to? :create, :schedules %>
<%= link_to 'New schedule', new_schedule_path %>
<% end %>
</p>

