<p>
<%= link_to 'Click here', edit_user_path( current_user ) %> to update your personal and contact information.  If you are not <%=h current_user.name %>, please close the web browser completely and log in using your own credentials.
</p>

<h2>Your Memberships</h2>

<p>
You have <%= link_to pluralize( current_user.memberships.current.length, 'current membership' ), current_user_memberships_path(current_user) %>, <%= link_to pluralize( current_user.memberships.past.size, 'past membership' ), past_user_memberships_path(current_user) %>, and <%= link_to pluralize( current_user.memberships.future.size, 'future membership' ), future_user_memberships_path(current_user) %>.
</p>

<% if current_user.memberships.where { starts_at.lte( Time.zone.today ) }.count > 0 %>
<p>
You can specify your <%= link_to 'renewal preferences', renew_user_memberships_path( current_user ) %>.
</p>
<% end %>

<% if current_user.memberships.current.length > 0 %>
<h3>Current Memberships</h3>
<%= render partial: 'memberships/memberships', object: current_user.memberships.current, locals: { user: current_user } %>
<% end %>

<div id="membership_requests">
<h2>Your Requests for Membership</h2>

<p>
You have <%= link_to pluralize( current_user.membership_requests.unexpired.count, 'current membership request' ), unexpired_user_membership_requests_path( current_user ) %> and <%= link_to pluralize( current_user.membership_requests.expired.count, 'expired membership request' ), expired_user_membership_requests_path( current_user ) %>.
</p>

<p>
You may browse <%= link_to pluralize( current_user.committees.requestable.count("committees.id", distinct: true), 'committee' ), requestable_user_committees_path( current_user ) %> for which you are eligible to request membership.
</p>

<h4>Active Requests</h4>
<%= render partial: 'membership_requests/membership_requests',
  object: current_user.membership_requests.active.unexpired,
  locals: { user: current_user } %>
</div> <!-- #membership_requests -->

