  <p>
    <%= form.label :question %><br />
    <%= form.text_field :question %>
  </p>
  <p>
    <%= form.label :membership_request %><br />
    <%= form.text_field :membership_request %>
  </p>
  <p>
    <%= form.label :content %><br />
    <%= form.text_area :content %>
  </p>

