  <p>
    <%= form.label :question %><br />
    <%= form.text_field :question %>
  </p>
  <p>
    <%= form.label :request %><br />
    <%= form.text_field :request %>
  </p>
  <p>
    <%= form.label :content %><br />
    <%= form.text_area :content %>
  </p>

