<% user ||= false; requestable ||= false %>
  <% table_row_tag do %>
    <% unless user %>
    <td><%=h request.user.name :last_first %></td>
    <% end %>
    <% unless requestable %>
    <td><%=h request.requestable %></td>
    <% end %>
    <td><%= request.position %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to( 'Edit', edit_request_path(request) ) if permitted_to? :edit, request %></td>
    <td><%= link_to( 'Destroy', request, :confirm => 'Are you sure?', :method => :delete ) if permitted_to? :destroy, request %></td>
    <td>
      <% if permitted_to? :reject, request %>
        <% if request.rejected? %>
          <%= link_to 'Unreject', unreject_request_path( request ), :confirm => 'Are you sure?', :method => :put %>
        <% else %>
          <%= link_to 'Reject', reject_request_path( request ) %>
        <% end %>
      <% end %>
    </td>
  <% end %>

