<h2>Editing request of <%=h @request.user.name %> for <%=h @request.requestable %></h2>

<% semantic_form_for(@request, :html => { :multipart => true }) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Show', @request %> |
<%= link_to 'Back', polymorphic_path( [@request.requestable, :requests] ) %>
</p>

