<h1>Editing request</h1>

<% form_for(@request) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @request %> |
<%= link_to 'Back', requests_path %>
</p>

