<h2><%= params[:action].titleize %> requests <%= @title %></h2>

<p>
<%= paginate @requests %>
</p>

<%= render partial: "requests/requests", object: @requests,
  locals: { committee: @committee, user: (@committee || @authority ? false : @user) } %>

<p>
<%= paginate @requests %>
</p>

<hr />

<% if @authority %>
<p><%= link_to @authority.to_s, @authority %></p>
<% end %>

