<h2>New request of <%=h @request.user.name %> for <%=h @request.requestable %></h2>

<%= semantic_form_for(@request, :url => polymorphic_path([
    (@membership ? @membership : @request.requestable), :requests
  ]),
  :html => { :multipart => true } ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', polymorphic_path( [@request.requestable, :requests] ) %>
</p>

