<h2>New request of <%=h @request.user.name %> for <%=h @request.committee %></h2>

<%= semantic_form_for( @request,
  url: polymorphic_path([ @request.committee, :requests ]),
  html: { multipart: true } ) do |f| %>
  <%= render :partial => 'form', :object => f %>
<% end %>

<p>
<%= link_to 'Back', polymorphic_path( [@request.committee, :requests] ) %>
</p>

