<h2>Reject <%=h @request.user.name %> for <%=h @request.requestable %></h2>

<%= semantic_form_for(:request, @request, :url => do_reject_request_path(@request), :html => { :method => :put } ) do |form| %>
  <% form.inputs do %>
    <%= form.input :rejected_by_authority, :as => :select, :label => 'Authority',
      :hint => 'Under which authority should rejection be made?',
      :collection => ( current_user.allowed_authorities & @request.authorities ),
      :html_options => { :include_blank => false } %>
    <%= form.input :rejection_comment, :as => :text,
      :hint => 'Provide a brief explanation for rejection of the request to share with the requestor.' %>
  <% end %>
  <%= form.buttons %>
<% end %>

<p>
<%= link_to 'Show', @request %> |
<%= link_to 'Back', polymorphic_path( [@request.requestable, :requests] ) %>
</p>

