<p>
  <b>Requestable:</b> <%=h @request.requestable %>
</p>

<% if @request.rejected? %>
<p>
  <b>Rejected at:</b> <%=h @request.rejected_at.to_formatted_s :us_ordinal %>
</p>

<p>
  <b>Rejected by authority:</b> <%=h @request.rejected_by_authority %>
</p>

<p>
  <b>Rejected by user:</b> <%=h @request.rejected_by_user %>
</p>

<p>
  <b>Reject notice at:</b> <%=h @request.reject_notice_at? ? @request.reject_notice_at.to_s( :us_ordinal ) : "None sent." %>
</p>

<p>
  <b>Rejection comment:</b>
</p>

<%=markdown @request.rejection_comment %>
<% end %>

<p>
  <b>User:</b> <%=h @request.user %>
</p>

<p>
  <b>Netid:</b> <%=h @request.user.net_id %>
</p>

<p>
  <b>Email:</b> <%=h @request.user.email %>
</p>

<p>
  <b>Desired Start Date:</b> <%=h @request.starts_at %>
</p>

<p>
  <b>Desired End Date:</b> <%=h @request.ends_at %>
</p>

<p>
  <b>Answers:</b>
</p>

<% @request.answers(:include => [:question]).each do |answer| %>
  <% if answer.question.disposition == 'boolean' %>
  <%=markdown( answer.question.content + " #{answer.content == 'true' ? 'Yes' : 'No'}" ) %>
  <% else %>
  <%=markdown answer.question.content %>
  <%=markdown answer.content %>
  <% end %>
<% end %>

<p>
  <b>Resume?</b> <%= @request.user.resume.file? ? link_to('Yes', @request.user.resume.url) : 'No' %>
</p>

<p>
<% if permitted_to?( :edit, @request ) -%>
<%= link_to 'Edit', edit_request_path(@request) %> |
<% end -%>
<%= link_to 'List Memberships', request_memberships_path(@request) %> |
<%= link_to 'Back', polymorphic_path( [@request.requestable, :requests] ) %>
</p>

