<p>
  <b>Requestable:</b> <%=h @request.requestable %>
</p>

<p>
  <b>User:</b> <%=h @request.user %>
</p>

<p>
  <b>State:</b> <%=h @request.state %>
</p>

<p>
  <b>Desired Start Date:</b> <%=h @request.starts_at %>
</p>

<p>
  <b>Desired End Date:</b> <%=h @request.ends_at %>
</p>

<p>
  <b>Answers:</b>
</p>

<% @request.answers(:include => [:question]).each do |answer| %>
<%=markdown answer.question.content %>
<%=markdown answer.content %>
<% end %>

<p>
  <b>Resume?</b> <%= @request.user.resume.file? ? link_to('Yes', @request.user.resume.url) : 'No' %>
</p>

<p>
<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'List Memberships', request_memberships_path(@request) %> |
<%= link_to 'Back', polymorphic_path( [@request.requestable, :requests] ) %>
</p>

