<h2>Editing membership_request of <%=h @membership_request.user.name %> for <%=h @membership_request.committee %></h2>

<%= semantic_form_for(@membership_request, html: { multipart: true }) do |f| %>
  <%= render partial: 'form', object: f %>
<% end %>

<p>
<%= link_to 'Show', @membership_request %> |
<%= link_to 'Back', polymorphic_path( [@membership_request.committee, :membership_requests] ) %>
</p>

