<%=content_tag :h1, "Quizzes"%>

<%= form_for q, url: request.fullpath, method: :get do |form| %>
<p>
  <%= form.label :name_cont, 'Name' %>
  <%= form.text_field :name_cont %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= paginate quizzes %>

<%= render partial: "quizzes/quizzes", object: quizzes %>

<%= paginate quizzes %>

<hr />

<p>
<% if permitted_to?( :create, :quizzes ) %>
<%= link_to 'New quiz', new_quiz_path %>
<% end %>
</p>

