  <%= table_row_tag true, false, { id: "enrollment-#{enrollment.id}" } do %>
    <% unless committee %>
    <%=content_tag :td, link_to( enrollment.committee.name, committee_path( enrollment.committee ) ) %>
    <% end %>
    <% unless position %>
    <%=content_tag :td, link_to( enrollment.position.name, position_path( enrollment.position ) ) %>
    <% end %>
    <td><%=h enrollment.title %></td>
    <td><%=h enrollment.votes %></td>
    <td><%= enrollment.requestable? ? 'Yes' : 'No' %></td>
    <td><%= enrollment.roles.join ', ' %></td>
  <% end %>

