  <%= table_row_tag true, false, { id: "enrollment-#{enrollment.id}" } do %>
    <% unless committee %>
    <td><%=h enrollment.committee %></td>
    <% end %>
    <% unless position %>
    <td><%=h enrollment.position %></td>
    <% end %>
    <td><%=h enrollment.title %></td>
    <td><%=h enrollment.votes %></td>
    <td><%= enrollment.requestable? ? 'Yes' : 'No' %></td>
    <td><%= enrollment.roles.join ', ' %></td>
  <% end %>

