<% committee = false unless defined? committee %>
<% position = false unless defined? position %>
<div class="nested-fields">
  <% if committee.blank? %>
    <% if f.object.new_record? %>
      <%= f.input :committee_name, as: :autocomplete, label: 'Committee',
        url: committees_path( format: :json ) %>
    <% else %>
      <%= f.input :committee_name, input_html: { readonly: true } %>
    <% end %>
  <% end %>
  <% if position.blank? %>
    <% if f.object.new_record? %>
      <%= f.input :position_name, as: :autocomplete, label: 'Position',
        url: positions_path( format: :json ) %>
    <% else %>
      <%= f.input :position_name, input_html: { readonly: true } %>
    <% end %>
  <% end %>
  <%= f.input :title,
    hint: 'What title does the member hold in the committee?' %>
  <%= f.input :votes,
    hint: 'How many votes does the member control in the committee? 0 if non-voting.' %>
  <%= f.input :requestable, as: :radio, label: "Requestable?",
    hint: 'Can this committee and position be accessed through the application process?' %>
  <%= f.input :membership_notices, as: :radio, label: "Membership notices?",
    hint: 'Should enrolled user be copied on notices regarding membership changes?' %>
  <%= f.input :manager, as: :radio, label: "Manager?",
    hint: 'Should enrolled user be copied on notices regarding motions?' %>

  <p>
  <%= link_to_remove_association 'remove enrollment', f %>
  </p>
</div>

