  <tr>
    <td><%=h enrollment.position %></td>
    <td><%=h enrollment.title %></td>
    <td><%=h enrollment.votes %></td>
    <td><%= link_to 'Show', enrollment %></td>
    <td><%= link_to 'Edit', edit_enrollment_path(enrollment) %></td>
    <td><%= link_to 'Destroy', enrollment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

