  <% table_row_tag do %>
    <% unless committee %>
    <td><%=h enrollment.committee %></td>
    <% end %>
    <% unless position %>
    <td><%=h enrollment.position %></td>
    <% end %>
    <td><%=h enrollment.title %></td>
    <td><%=h enrollment.votes %></td>
    <td><%= link_to 'Show', enrollment %></td>
    <td><%= link_to( 'Edit', edit_enrollment_path(enrollment) ) if permitted_to? :edit, enrollment %></td>
    <td><%= link_to( 'Destroy', enrollment, :confirm => 'Are you sure?', :method => :delete ) if permitted_to? :destroy, enrollment %></td>
  <% end %>

