<h2><%=h params[:action].titleize %> enrollments for <%=h @committee ? @committee : "" %><%=h( @user ? @user : "" ) %></h2>

<%= render :partial => "enrollments", :object => @enrollments,
  :locals => { :committee => @committee ? @committee : false, :position => @user ? true : false } %>

<hr />

<p>
<% if @committee && permitted_to?( :create, :enrollments ) %>
<%= link_to 'New enrollment', new_committee_enrollment_path( @committee ) %>
<% end %>
<% if @user %>
<%= link_to @user.to_s, user_path( @user ) %>
<% end %>
</p>

