<p>
  <b>Position:</b> <%=h @enrollment.position %>
</p>

<p>
  <b>Committee:</b> <%=h @enrollment.committee %>
</p>

<p>
  <b>Title:</b> <%=h @enrollment.title %>
</p>

<p>
  <b>Votes:</b> <%=h @enrollment.votes %>
</p>

<p>
<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', committee_enrollments_path(@enrollment.committee) %>
</p>

