<p>
Dear <%= vicechairs.map(&:first_name).listify %>,
</p>

<p>
<%= committee.name %> has not met since <%= if committee.meetings.recent.first
    committee.meetings.recent.first.starts_at.to_date.to_s :long_ordinal
  else
    "the current session began on #{committee.schedule.periods.active.to_s :long_ordinal}"
  end
%>.
</p>

<% if committee.motions.current.unscheduled.with_status(:proposed).any? %>
<p>
The following motions have been proposed and are awaiting discussion and action:
</p>

<%=content_tag :ul do %>
  <%= render partial: 'committee_mailer/motion',
    collection: committee.motions.current.unscheduled.with_status(:proposed) %>
  <% end %>
  </ul>
<% end %>

<p>
You may <%=link_to 'schedule a meeting online', new_committee_meeting_url( committee ) %>.
</p>

<p>
<%= committee.effective_contact_name %>
</p>

