  <%= table_row_tag do %>
    <td><%=h committee.name %></td>
    <% if user -%>
    <td><%= link_to 'Request', new_committee_request_path(committee, :user_id => user.id) %></td>
    <% else -%>
    <td></td>
    <% end -%>
    <td><%= link_to 'Show', committee %></td>
    <td><%= link_to( 'Edit', edit_committee_path(committee) ) if permitted_to? :edit, committee %></td>
    <td><%= link_to( 'Destroy', committee, :confirm => 'Are you sure?', :method => :delete ) if permitted_to? :destroy, committee %></td>
  <% end %>

