  <tr>
    <td><%=h committee.name %></td>
    <td><%= committee.requestable? ? 'Yes' : 'No' %></td>
    <td><%= link_to 'Show', committee %></td>
    <td><%= link_to 'Edit', edit_committee_path(committee) %></td>
    <td><%= link_to 'Destroy', committee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>

