<h1>Editing committee</h1>

<% form_for(@committee) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<p>
<%= link_to 'Show', @committee %> |
<%= link_to 'Back', committees_path %>
</p>

