<h2><%= params[:action].titleize %> committees<%= @user ? " for #{h(@user)}" : "" %></h2>

<%= form_for @search, :url => request.fullpath do |form| %>
<p>
  <%= form.label :name_contains, 'Name' %>
  <%= form.text_field :name_contains %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= will_paginate @committees %>

<%= render :partial => "committees/committees", :object => @committees,
:locals => { :user => ( @user ? @user : false ) } %>

<%= will_paginate @committees %>

<hr />

<p>
<% if permitted_to? :create, :committees -%>
<%= link_to 'New committee', new_committee_path %>
<% end -%>
</p>

