<h2><%= params[:action].titleize %> committees<%= @user ? " for #{h(@user)}" : "" %></h2>

<% semantic_form_for @search do |form| %>
<p>
  <%= form.label :name_like, 'Name' %>
  <%= form.text_field :name_like %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= will_paginate @committees %>

<%= render :partial => "committees", :object => @committees,
:locals => { :user => ( @user ? @user : false ) } %>

<%= will_paginate @committees %>

<hr />

<p>
<% if permitted_to? :create, :committees -%>
<%= link_to 'New committee', new_committee_path %>
<% end -%>
</p>

