<h1>Listing committees</h1>

<% semantic_form_for @search do |form| %>
<p>
  <%= form.label :name_like, 'Name' %>
  <%= form.text_field :name_like %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= will_paginate @committees %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Requestable?</th>
  </tr>
  </thead>
  <tbody>
  <%= render :partial => 'committee', :collection => @committees %>
  </tbody>
</table>

<%= will_paginate @committees %>

<br />

<p>
<%= link_to 'New committee', new_committee_path %>
</p>

