<div id="committee-<%= committee.id %>">
<p>
  <b>Name:</b> <%=h committee.name %>
</p>

<p>
  <b>Contact name:</b> <%= committee.contact_name %>
</p>

<p>
  <b>Contact email:</b> <%= committee.contact_email %>
</p>

<p>
  <b>Active?</b> <%= committee.active? ? 'Yes' : 'No' %>
</p>

<p>
  <b>Sponsor?</b> <%= committee.sponsor? ? 'Yes' : 'No' %>
</p>

<p>
  <b>Schedule:</b> <%=h committee.schedule %>
</p>

<p>
  <b>Meeting template:</b> <%=h committee.meeting_template %>
</p>

<p>
  <b>Brand:</b> <%= committee.brand ? link_to(committee.brand.name, brand_path( committee.brand )) : 'No' %>
</p>

<p>
  <b>Publish email:</b> <%= committee.publish_email %>
</p>

<p><b>Appoint message:</b></p>

<%=markdown committee.appoint_message %>

<p><b>Join message:</b></p>

<%=markdown committee.join_message %>

<p><b>Leave message:</b></p>

<%=markdown committee.leave_message %>

<p><b>Reject message:</b></p>

<%=markdown committee.reject_message %>

<h2>Enrollments</h2>

<%= render partial: 'enrollments/enrollments', object: committee.enrollments,
  locals: { committee: committee } %>

</div>

<%=form_tag tents_committee_path(committee, format: :pdf), method: :get,
  class: 'form-inline' do %>
  <%=date_picker_field_tag :as_of, nil, class: 'input-small',
    placeholder: as_of.to_s(:db) %>
  <%=submit_tag "Download Tent Cards" %>
<% end %>

<%=form_tag members_committee_path(committee, format: :pdf), method: :get,
  class: 'form-inline' do %>
  <%=date_picker_field_tag :as_of, nil, class: 'input-small',
    placeholder: as_of.to_s(:db) %>
  <%=submit_tag "Download Membership Directory" %>
<% end %>

<% if permitted_to? :manage, :users %>
  <%=form_tag empl_ids_committee_path(committee, format: :pdf), method: :get,
    class: 'form-inline' do %>
    <%=date_picker_field_tag :as_of, nil, class: 'input-small',
      placeholder: as_of.to_s(:db) %>
    <%=submit_tag "Download Empl Id Directory" %>
  <% end %>
<% end %>

<p>
<% if permitted_to? :edit, committee -%>
<%= link_to 'Edit', edit_committee_path(committee) %> |
<% end -%>
<%= nested_index committee, 'memberships', %w( past current future ) %> |
<%= nested_index committee, 'meetings', %w( past current future ) %> |
<%= nested_index committee, 'motions', %w( past current ) %> |
<%= link_to 'List Positions', committee_positions_path(committee) %> |
<%= nested_index committee, 'membership_requests', %w( active inactive ) %> |
<%= link_to 'Back', committees_path %>
</p>

