<p>
  <b>Name:</b> <%=h @committee.name %>
</p>

<p>
  <b>Requestable?</b> <%= @committee.requestable? ? 'Yes' : 'No' %>
</p>

<p><b>Join message:</b></p>

<%=markdown @committee.join_message %>

<p><b>Leave message:</b></p>

<%=markdown @committee.leave_message %>

<p>
<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= nested_index @committee, 'memberships', %w( past current future ) %> |
<%= nested_index @committee, 'enrollments' %> |
<%= link_to 'List Requests', committee_requests_path(@committee) %> |
<%= link_to 'Back', committees_path %>
</p>

