<p>
  <b>Name:</b> <%=h @committee.name %>
</p>

<p>
  <b>Schedule:</b> <%=h @committee.schedule %>
</p>

<p>
  <b>Brand:</b> <%= @committee.brand ? link_to(@committee.brand.name, brand_path( @committee.brand )) : 'No' %>
</p>

<p>
  <b>Requestable?</b> <%= @committee.requestable? ? 'Yes' : 'No' %>
</p>

<p><b>Join message:</b></p>

<%=markdown @committee.join_message %>

<p><b>Leave message:</b></p>

<%=markdown @committee.leave_message %>

<p><b>Reject message:</b></p>

<%=markdown @committee.reject_message %>

<p>
<% if permitted_to? :edit, @committee -%>
<%= link_to 'Edit', edit_committee_path(@committee) %> |
<% end -%>
<%= nested_index @committee, 'memberships', %w( past current future ) %> |
<%= nested_index @committee, 'meetings', %w( past current future ) %> |
<%= nested_index @committee, 'motions', %w( past current ) %> |
<%= nested_index @committee, 'enrollments' %> |
<%= link_to 'List Positions', committee_positions_path(@committee) %> |
<%= link_to 'List Requests', committee_requests_path(@committee) %> |
<%= link_to 'Tent cards (pdf)', tents_committee_path( @committee, :format => :pdf ) %> |
<%= link_to 'Members (pdf)', members_committee_path( @committee, :format => :pdf ) %> |
<%= link_to 'Back', committees_path %>
</p>

