<p>
  <b>Name:</b> <%=h @committee.name %>
</p>

<p>
  <b>Requestable?</b> <%= @committee.requestable? ? 'Yes' : 'No' %>
</p>

<p><b>Join message:</b></p>

<%=markdown @committee.join_message %>

<p><b>Leave message:</b></p>

<%=markdown @committee.leave_message %>

<p>
<%= link_to 'Edit', edit_committee_path(@committee) %> |
<%= link_to 'List Enrollments', committee_enrollments_path(@committee) %> |
<%= link_to 'List Memberships', committee_memberships_path(@committee) %> |
<%= link_to 'Back', committees_path %>
</p>

