<h1>Listing meeting templates</h1>

<%= form_for q, url: request.fullpath, method: :get do |form| %>
<p>
  <%= form.label :name_cont, 'Name' %>
  <%= form.text_field :name_cont %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%=paginate meeting_templates %>

<%= render partial: "meeting_templates/meeting_templates", object: meeting_templates %>

<%=paginate meeting_templates %>

<hr />

<p>
<% if permitted_to? :create, :meeting_templates %>
<%= link_to 'New meeting template', new_meeting_template_path %>
<% end %>
</p>

