<%=content_tag :h1, "Positions for #{context}" %>

<%= form_for q, url: request.fullpath, method: :get do |form| %>
<p>
  <%= form.label :name_cont, 'Name' %>
  <%= form.text_field :name_cont %>
  <%= form.submit "Search" %>
</p>
<% end %>

<%= paginate positions %>

<%= render partial: "positions/positions", object: positions %>

<%= paginate positions %>

<hr />

<p>
<% if permitted_to? :create, :positions %>
<%= link_to 'New position', new_position_path %>
<% end %>
<% if committee %>
 | <%= link_to committee.to_s, committee %>
<% end %>
</p>

