<h1>Listing authorities</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @authorities.each do |authority| %>
  <tr>
    <td><%=h authority.name %></td>
    <td><%= link_to 'Show', authority %></td>
    <td><%= link_to 'Edit', edit_authority_path(authority) %></td>
    <td><%= link_to 'Destroy', authority, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New authority', new_authority_path %>