<p>
  <b>Name:</b> <%=h @authority.name %>
</p>

<p>
  <b>Committee:</b> <%=h @authority.committee %>
</p>

<p><b>Join message:</b></p>

<%=markdown @authority.join_message %>

<p><b>Leave message:</b></p>

<%=markdown @authority.leave_message %>

<p>
<%= link_to 'Edit', edit_authority_path(@authority) %> |
<%= nested_index @authority, 'memberships', %w( past current future ) %> |
<%= nested_index @authority, 'requests', %w( expired unexpired ) %> |
<%= link_to 'Back', authorities_path %>
</p>

