<div id="brand-<%= @brand.id %>">
<p>
  <b>Name:</b> <%=h @brand.name %>
</p>

<p><b>Logo:</b> <%=image_tag thumb_brand_path(@brand, format: :png) %></p>
</div>

<p>
<% if permitted_to? :edit, @brand -%>
<%= link_to 'Edit', edit_brand_path(@brand) %> |
<% end -%>
<%= link_to 'Back', brands_path %>
</p>

