<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Campus Committees &gt; <%= controller.controller_name.titleize %> &gt; <%= controller.action_name.titleize %></title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<meta http-equiv="Content-Language" content="en-us" />
	<link rel="SHORTCUT ICON" href="<%= image_path('favicon.ico') %>" type="image/x-icon" />
	<%=raw stylesheet_link_tag 'application' %>
	<%=raw stylesheet_link_tag 'print', media: :print %>
	<!--[if IE 6]><%=raw stylesheet_link_tag 'ie6' %><![endif]-->
	<!--[if IE 7]><%=raw stylesheet_link_tag 'ie7' %><![endif]-->
	<%=raw javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>

<div id="skipnav">
	<a href="#content">Skip to main content</a>
</div>

<hr class="banner-separator" />

<div id="cu-identity-wrap">
	<div id="cu-identity-content">
	<a id="insignia-link" href="http://www.cornell.edu/"><img src="<%=image_path 'layout/cu_logo_unstyled.gif' %>" alt="Cornell University" border="0" /></a>
	  <div id="unit-signature-links">
		  <a id="cornell-link" href="http://www.cornell.edu/">Cornell University</a>
	  </div><!-- #unit-signature-links -->

	  <div id="search-navigation">
	    <ul>
			  <li><a href="http://www.cornell.edu/search/">Search Cornell</a></li>
		  </ul>
	  </div> <!-- #search-navigation -->
	</div> <!-- #cu-identity-content -->
</div> <!-- #cu-identity-wrap -->

<hr class="banner-separator" />

<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" 
      data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Shared Governance</a>
    <div class="collapse navbar-collapse">
    <%= tabs %>
    </div><!--/.navbar-collapse -->
  </div>
</div>

<div id="content" class="container">
  <a name="content"></a>
  <%= flash_messages %>

  <%= yield %>
</div> <!-- #container -->

<div>
&copy; 2008-<%= Time.zone.today.year %> Cornell University.
We use <a href="http://www.fsf.org/">free software</a>.
Questions? Contact
<a href="mailto:assembly@cornell.edu">assembly@cornell.edu</a>.
</div>
</body>
</html>

